/* Common rules */

:root{
    --tobo_task: #45ABEA;
    --tobo_editorial: #47ADF1;
    --tobo_recruit: #64C0A9;
    --tobo_goal: #9C72E4;
    --tobo_sales: #B0C926;
    --tobo_website: #D863A1;
    --tobo_mobile: #F29E33;
    --tobo_background: #F6F8F9;
    --tobo_section:#C5CBD0;
    --tobo_placeholder: #C6CCD1;
    --tobo_check:#64C0A9;
    --tobo_cross:#EB5952;
}

body{
    font-family: Arial, sans-serif;
}
.logo{
    vertical-align: middle;
    display: inline-block;
    font-size: 45px;
}

/* /header */

.site_main{
    background-color: var(--tobo_background);
    padding: 2rem;
}

.nav{
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 1rem;
    border: 2px solid var(--tobo_background);
    border-radius: 9px 9px 0 0;
} 

.task{
    color: white;
    background-color: var(--tobo_task);
    height: 30px;
    width: 75px;
    border: none;
    margin-left: 50px;
}

.section{
    height: 29px;
    width: 90px;
    border: 1px solid var(--tobo_section);  
}

::placeholder {
    color: var(--tobo_placeholder)
  }
.button{
    text-align: center;
    border-radius: 5px;
}

/* /nav button */

.new_t{
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 1rem 1rem 4rem 1rem;
    border: 2px solid var(--tobo_background);
    border-radius: 0 0 9px 9px;
}

.list_ele{
    margin-left: 50px;
    margin-top: 40px;
}

.check{
    color: var(--tobo_check);
    border: 1px solid var(--tobo_check);
    border-radius: 50%;
    padding: 5px;
}

.cross{
    color: var(--tobo_cross);
    border: 1px solid var(--tobo_cross);
    border-radius: 50%;
    padding: 5px;

}

.ele{
    padding: 15px;
    font-size: 20px;
}

.edi{
    font-size: small;
    color: white;
    background-color: var(--tobo_editorial);
    border-radius: 10px;
    padding: 7px;
}

.element{
    margin-top: 20px;
}

.goal{
    font-size: small;
    color: white;
    background-color: var(--tobo_goal);
    border-radius: 10px;
    padding: 7px;
}

.recruit{
    font-size: small;
    color: white;
    background-color: var(--tobo_recruit);
    border-radius: 10px;
    padding: 7px;
}

.mobile{
    font-size: small;
    color: white;
    background-color: var(--tobo_mobile);
    border-radius: 10px;
    padding: 7px;
}

.website{
    font-size: small;
    color: white;
    background-color: var(--tobo_website);
    border-radius: 10px;
    padding: 7px;
}

.sales{
    font-size: small;
    color: white;
    background-color: var(--tobo_sales);
    border-radius: 10px;
    padding: 7px;
}
/* /main */